/* The animation code */
@keyframes toggle {
    from {background-color: #a3b4d1;}
    to {background-color: #bcd8c6;}
}

/* The element to apply the animation to */
.jumbotron {
    
    background-color: #a3b4d1;
    animation-name: toggle;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


	
.jumbotron h1 {
	font-family: 'Stardos Stencil', cursive;
	font-weight: 200;
}

.panel-info> .panel-heading {
	color: white;
}

.panel-success> .panel-heading {
	color: white;
}

table {
	width: 100%;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

tr {
	width: 100%;
}

.row {
	width: 100%;
}

.dark {
	font-weight: bold;
}

